
<div class="row">
    <div class="col-12">
        <div class="card card-header">
            <div class="row mb-md-2">
                <div class="col-sm-12 col-md-6">
                    <h5 class="card-title text-primary">NearBy Locations Details</h5>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                        data-bs-target="#myModal" (click)="openModal(content)">NearBy Locations</button>
                    </div>
                </div> <!-- end col -->


                <div class="card-body">
                    <table id="datatable" class="table table-bordered dt-responsive">
                        <thead>
                            <tr>
                                <!-- <th>PropertyID</th> -->
                                <th>Nearby Location</th>
                                <th>updatedby</th>
                                <th>updationDate</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let FormInfo of nearbylocDetails">
                                <!-- <td>{{FormInfo.PropertyID}}</td> -->
                                <td>{{FormInfo.l}}</td>    
                                <td>{{FormInfo.updatedby}}</td>
                                <td>{{FormInfo.updationDate}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"
                                        data-bs-toggle="modal" data-bs-target="#myModal"
                                        (click)="openModal1(edit,FormInfo)">Edit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" (click)="deleteLocationData(FormInfo)">Delete</button>
                                </td>
        
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ng-template #content role="document" let-modal>
            <div class="modal-header">
                <h5 class="modal-title mt-0">Add Nearby Location</h5>
                <button type="button" class="btn-close" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="onSubmit()">
                    <input type="text" name="updatedby" class="form-control" id="updatedby" [(ngModel)]="location.updatedby" hidden>
                    <input type="text" name="PropertyID" class="form-control" id="PropertyID" [(ngModel)]="location.PropertyID" hidden>
                    <div class="row mb-4">
                        <label for="inputName3" class="col-sm-2 col-form-label"> Nearby Location </label>
                        <div class="col-sm-9">
                            <input type="text" name="l" class="form-control" id="l" [(ngModel)]="location.l">
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #edit role="document" let-modal>
            <div class="modal-header">
                <h5 class="modal-title mt-0">Edit Nearby Location</h5>
                <button type="button" class="btn-close" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="Update()">
                            <input type="text" name="PropertyID" class="form-control" id="PropertyID" [(ngModel)]="editNearbylocation.PropertyID" hidden>
                    <div class="row mb-4">
                        <label for="inputName3" class="col-sm-2 col-form-label"> Nearby Location </label>
                        <div class="col-sm-9">
                            <input type="text" name="l" class="form-control" id="l" [(ngModel)]="editNearbylocation.l">
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </ng-template>

    </div>
</div>