<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                        <h5 class="card-title text-primary">Rera Numbers</h5>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                            <button type="button" class="btn btn-primary waves-effect waves-light"
                                data-bs-toggle="modal" data-bs-target="#myModal" (click)="openModal(content)">Add
                                Rera</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap w-100 datatables">
                        <thead>
                            <tr>
                                <!-- <th>Sr.NO</th>
                                <th>Property ID</th> -->
                                <th>RERA</th>
                                <th>Updated By</th>
                                <th>Updated on Date & Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rera of rerano">
                                <!-- <td>{{rera.ID}}</td>
                                <td>{{rera.PropertyID}}</td> -->
                                <td>{{rera.Rera}}</td>
                                <td>{{rera.updatedby}}</td>
                                <td>{{rera.updationDate}}</td>
                                <td>
                                    <button type="button" (click)="openDetails(edit,rera)"
                                        class="btn btn-primary btn-sm waves-effect waves-light">Edit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light"
                                        (click)="deleteReraRow(rera)">Delete</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

        <ng-template #content role="document" let-modal>
            <div class="modal-header">
                <h5 class="modal-title mt-0">Add Rera</h5>
                <button type="button" class="btn-close" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form #signupForm=ngForm (ngSubmit)="addRerano()">
                    <input type="text" name="PropertyID" [(ngModel)]="rera.PropertyID" class="form-control" hidden>
                    <input type="text" name="updatedby" [(ngModel)]="rera.updatedby" id="updatedby" class="form-control"
                        hidden>
                    <div class="row mb-4">
                        <label for="inputName3" class="col-sm-2 col-form-label">Rera Number</label>
                        <div class="col-sm-9">
                            <input type="text" name="Rera" class="form-control" id="Rera" [(ngModel)]="rera.Rera">
                            <span class="text-danger" [hidden]="!error.Rera">{{error.Rera}}</span>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template #edit role="document" let-modal>
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="modal-basic-title">Edit Rera</h5>
                <button type="button" class="btn-close" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form #signupForm=ngForm (ngSubmit)="updateRera()">
                    <div class="row mb-4">
                        <!-- <input type="text" name="PropertyID" [(ngModel)]="rera.ID" class="form-control"> -->
                        <label for="inputName3" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="text" name="PropertyID" [(ngModel)]="rera.PropertyID" class="form-control"
                                hidden>
                            <input type="text" name="Rera" [(ngModel)]="reradata.Rera" id="Rera" class="form-control"
                                required>
                            <span class="text-danger" [hidden]="!error.Rera">{{error.Rera}}</span>

                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>