<div class="card">
    <div class="card-header">
        <div class="text-right">
            <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                <!-- <button type="button" class="btn btn-primary waves-effect waves-light" (click)="add(textdada)">ADD</button>&nbsp; -->
                <button type="button" class="btn btn-primary waves-effect waves-light" (click)="back()">Go
                    Back</button>
            </div>
        </div>
    </div>
</div>
<app-add-favicon></app-add-favicon>
<app-add-logo></app-add-logo>
<app-featuredimage></app-featuredimage>
<app-galleryimages></app-galleryimages>
<app-floorplans></app-floorplans>
<app-amenities></app-amenities>